
@{
    Layout = null;
}
<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <title>@ViewBag.Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">    
    <link href="~/css/index.css" rel="stylesheet" />    
</head>
<body>
    <div>

        <div class="title">
            【系统异常】
        </div>
        <div class="common">
            <p>很抱歉,系统出错啦！</p>
            <br />
            <p>
                错误来源:<br />
                @Html.Raw(ViewBag.ErrMsg)
            </p>
            <span><a onclick="javascript:history.go(-1)">返回上一页</a></span>
            <br />
            <Abar sid="@ViewBag.MySid" href="/Index">返回首页</Abar>
        </div>
    </div>
    <partial name="~/Views/Shared/footer.cshtml" />
</body>
</html>
