
@{
    Layout = null;
}
<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <title>@ViewBag.Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link href="~/template/theme/css/main.css" rel="stylesheet" asp-append-version="true" />
    <link rel="icon" href="~/images/favicon.ico" asp-append-version="true">
</head>
<body>
    <div>
        <div class="module-title">
            【暂无权限】
        </div>
        <div class="module-content">
            您暂无权限!<br />
            可能由于以下原因:<br />
            <p>1.未登录或SID过期。</p>
            <p>2.暂无该区域管理权限。</p>
            <p>3.访问过快。</p>
            <br />
            <span><a onclick="javascript:history.go(-1)">返回上一页</a></span>
            <br />
            <Abar sid="@ViewBag.MySid" href="/Index">返回首页</Abar>
        </div>
    </div>
    <partial name="~/Views/Shared/footer.cshtml" />
</body>
</html>
