@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Antiforgery
@{
	Layout = null;
}
<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta charset="utf-8">
	<title>@ViewBag.Title</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
	<link href="/css/index.css" rel="stylesheet" asp-append-version="true" />
</head>
<body>
	<div>
		<div class="module-title">
			【@ViewBag.Title】
		</div>
		<div class="module-content">
			@Html.Raw(ViewBag.Msg)<br />

			<Abar sid="@ViewBag.MySid" href="@ViewBag.yesUrl" token="true">确认</Abar>&nbsp;.&nbsp;<a style="color: blue;cursor: pointer;text-decoration: underline;" onclick="javascript:history.go(-1)">取消</a>
		</div>
	</div>
	<div class="clear"></div>
</body>
</html>
<script src="/js/jquery-2.2.4.min.js"></script>